:root {
  --color-input: rgb(213, 237, 229);
}

a {
  text-decoration: none;
  color: dodgerblue;
}

/* Navbar */

.navbarEndItems {
  text-decoration: none;
  color: #fff;
}
.NavContainer {
  width: 100%;
  background-color: rgb(69, 67, 67);
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 0.5rem 0;
  height: 6vh;
}
.AppTitle {
  display: flex;
  align-items: center;
}
.AppTitle:hover {
  cursor: pointer;
}
.NavSearch {
  display: flex;
  gap: 0.2rem;
}
.NavSearchInput {
  padding: 0.25rem;
  border-radius: 0.25rem;
  width: 80vh;
  height: 70%;
}
.NavSearchInput:focus {
  outline: none;
  border: none;
}
.SearchButton {
  border-radius: 0.25rem;
  outline: none;
  background-color: green;
  border: none;
  color: #fff;
  padding: 0.5rem;
  font-weight: bold;
  width: 10vh;
  height: 90%;
}
.SearchButton::placeholder {
  color: gray;
  font-weight: bold;
}
.SearchButton:hover {
  cursor: pointer;
  padding: 0.7rem;
  background-color: dodgerblue;
}

.rightWrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.rightItems {
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
}
.item-one:hover,
.item-two:hover,
.dropbtn:hover,
.dropbtn:focus {
  cursor: pointer;
  font-size: 17px;
  background-color: rgb(88, 88, 88);
}

/* dropdown */
.dropbtn {
  background-color: rgb(69, 67, 67);
  color: white;
  font-size: 16px;
  width: max-content;
  border: none;
  cursor: pointer;
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content a,
p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover,
p:hover {
  background-color: #ddd;
  cursor: pointer;
}



/* HomePage */

.homeContainer {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-right: 2rem;
  height: calc(100% - 70px);
}

.productsList {
  display: grid;
  margin-top: 2rem;
  grid-template-rows: auto auto auto;
  grid-template-columns: 350px 350px 350px;
  gap: 1rem;
  justify-content: center;
}

.productItems {
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.productsImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 1rem;
}

.productName,
.productRating,
.productPrice {
  margin-bottom: 1rem;
}

.reviewsNumber {
  margin-bottom: 1rem;
}

.ratingContainer span {
  margin: 0.1rem;
}

.homeLink {
  border: none;
  background: none;
  height: 2rem;
  margin: 2rem;
  border-radius: 0.25rem;
}

.homeLink:hover {
  background-color: lightgrey;
  cursor: pointer;
}

/*Cart Page Home Link*/

.homeLinkFromCart {
  border: none;
  background: none;
  height: 2.5rem;
  margin: 2rem;
  border-radius: 0.25rem;
  color: dodgerblue;
  text-decoration: underline;
}
.homeLinkFromCart:hover {
  color: #fff;
  background-color: green;
  cursor: pointer;
}
.productDetails {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 400px 300px 350px;
  justify-content: center;
}

.productPageContainer {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
  height: calc(100% - 70px);
}
.productPageImage {
  width: 350px;
  height: 350px;
  object-fit: cover;
  margin: 1rem;
  margin-top: 0;
}

.listGroup {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 400px;
  width: 230px;
}

.listGroupItem {
  border: 1px solid #ddd;
  padding: 1rem;
}

.listGroupStatus {
  display: flex;
  justify-content: space-between;
}

.addCartContainer {
  display: flex;
  justify-content: center;
}

.addCartBtn {
  padding: 0.5rem;
  background: #000;
  color: #fff;
  width: 10rem;
}

.addCartBtnDisabled {
  padding: 0.5rem;
  background: #000;
  color: #fff;
  width: 10rem;
  opacity: 0.6;
  cursor: not-allowed;
}

.addCartBtn:hover {
  cursor: pointer;
  font-weight: Bold;
  font-size: 14px;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
}

.loader {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 5px solid #3b3b3b;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.messageContainer {
  background: rgb(247, 178, 178);
  color: red;
  height: 3vh;
  margin: 1rem;
  padding: 1rem;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Select DropDown */

.qtyValue {
  padding: 0.5rem;
  border: 1px solid #000;
  width: 100px;
}

.priceItem,
.statusItem,
.selectDropDown {
  display: flex;
  justify-content: space-between;
}

.stockStatus,
.priceValue {
  width: 100px;
}

.qtyOption {
  border: 1px solid #000;
  border-radius: 1px;
}

/*Cart Page*/
.cartTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.cartItemImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.cartProduct {
  width: 230px;
}

.allCartItems {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  margin-top: 1rem;
  padding: 0;
}

.allCartItem {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  width: 85vh;
  list-style: none;
  margin-top: 1rem;
}

.cartContainer {
  display: flex;
  flex-direction: column;
}

.cartItemData {
  display: flex;
}

.cartProductQty {
  display: flex;
  justify-content: space-around;
  width: 15vh;
}

.cartQtyValue {
  padding: 0.5rem;
  border: 1px solid #000;
  width: 55px;
  height: 30px;
}

.deleteCartItem {
  width: 55px;
  height: 30px;
  border: none;
  outline: none;
  background: none;
}

.fa-trash {
  color: tomato;
}

.fa-trash:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cartSelectDelete {
  gap: 15px;
}

.cartSubtotalContainer {
  margin-top: 2rem;
}

/* ========== FORM ========= */
.formContainer {
  display: flex;
  justify-content: center;
  height: 85vh;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.registerForm input {
  padding: 0.75rem 0.75rem 0.5rem 1rem;
  margin-top: 0.5rem;
  outline: none;
  border: none;
  width: 50vh;
  background-color: var(--color-input);
}

.registerForm label {
  padding: 0.5rem 0;
}

.btn-register {
  padding: 0.55rem;
  width: fit-content;
  background-color: #000;
  color: #fff;
  margin-top: 1rem;
}

.btn-register:hover {
  cursor: pointer;
  font-weight: Bold;
  font-size: 14px;
}

/* User Profile Page */
.userProfileContianer{
  display: grid;
  grid-template-columns: 30% 50%;
  margin-left: 5rem;
  margin-top: 1rem;
  height: 85vh;
}

/*Checkout steps component*/
.checkoutStepContainer{
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 2rem;
  font-size: 18px;
}

.checkoutStepContainer a{
  color: #000;
}

.checkoutStepDisabled{
  color: #fff;
  width: 10rem;
  opacity: 0.4;
  cursor: not-allowed;
}

/* Payment Page */
.paymentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  height: 80vh;
}

.paymentContainer form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.selectLabel{
  font-size: 1.5rem;
}

.paymentChoose{
  margin-left: 1rem;
}